/*Hover element when cursor moved over it*/

.h1:hover {
  color: grey;
  padding: 4px;
  transition: 80ms;
}

/*Adding styles to input field*/

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px 20px;
  border: 0.5px solid grey;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  outline: none;
}

input:hover {
  background: rgb(169, 168, 159);
  color: rgb(255, 255, 255);
  padding: 4px;
  transition: 80ms;
}

input:active {
  border: 3px solid aqua;
}
input:focus {
  border: 3px solid white;
}

/*Adding styles to button field*/
button {
  padding: 10px;
  border: none;
  background-color: pink;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid transparent;
}

button:hover {
  background: palegoldenrod;
  color: brown;
  transition: 80ms;
}

button:active {
  border: 8px solid rgb(0, 0, 0);
  margin: 2px 2px 2px 2px;
}

button:focus {
  border: 3px solid rgb(255, 82, 82);
}

.helloworldheading::before {
  content: "hello ";
}

.helloworldheading::after {
  content: " world";
}

.square {
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 30px;
  border-radius: 30px;
  position: relative;
  margin: 10px;
}

.square::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  top: -5px;
  left: -5px;
  border-radius: 6px;
}
.square::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  bottom: -5px;
  right: -5px;
  border-radius: 6px;
}
.parent {
  margin: 30px;
}

.child {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: aqua;
}

.child:first-child {
  background: burlywood;
}

.child:last-child {
  background: grey;
}

.child:nth-child(3) {
  background: greenyellow;
}
.child:nth-child(odd) {
  border: 3px solid silver;
}

.child:nth-child(even) {
  border: 3px solid gold;
}
